.spacer
	width: 5px
	display: inline-block

#img[src=""]
	display: none

#lottie 
	max-width: 160px
	max-height: 160px

#img-col
	margin-top: auto

.emoji
	height: 1em
	width: 1em
	margin: 0 .05em 0 .1em
	vertical-align: -0.1em

@import "node_modules/bulma/sass/utilities/_all"

$scheme-main: #141414
$text: $white-ter
$text-strong: $white-ter
$link: $cyan
$link-hover: $blue
$footer-background-color: transparent

@import "node_modules/bulma/sass/base/_all"
@import "node_modules/bulma/sass/elements/_all"
@import "node_modules/bulma/sass/grid/_all"
@import "node_modules/bulma/sass/helpers/_all"
@import "node_modules/bulma/sass/layout/_all"
