<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>404 | Discord Sticker List</title>
		<link rel="stylesheet" href="/style.css">
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-5J8X1H60G1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-5J8X1H60G1');
		</script>
		<script async src="https://arc.io/widget.min.js#u2YPfGET"></script>
	</head>
	<body>
		<section class="hero">
			<div class="hero-body">
				<div class="container is-fluid">
					<h1 class="title is-2">
						404: Page Not Found
					</h1>
					<p class="subtitle is-4">
						go <a href="/">home</a>
					</p>
				</div>
			</div>
		</section>
	</body>
</html>
